{
	-fx-back-color: #16b9ff;
}

.primary-bg {
	-fx-background-color: -fx-back-color;
}

.primary-button {
	-fx-background-color: -fx-back-color;
}

.primary-button:hover {
	-fx-background-color: #3dc5ff;
}

.primary-input {
	-fx-text-fill: #1976d2;
}

.root {
	-fx-background-color: #1976d2;
}